.App {
  text-align: center;
}

* {
  font-family: 'Baloo Tammudu 2', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

.fontBalooTammudu {
  font-family: 'Baloo Tammudu 2', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.buttonPrimary {
  background-color: transparent;
  color: white;
  background-color: #053C5E;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.buttonPrimary:hover {
  background-color: #1F7A8C;
  color: white;
  border-color: lightgray;
}

.delButtonEditButton {
  justify-content: space-between;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bintang{
  position: relative;
}

.popularity{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 18px;
}

.btnCAROUSEL{
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  position: relative;
  bottom: 85vh;
  width: 100px;
  height: 4vh;
  color:black;
  background-color: whitesmoke;
  border-radius: 20px;
  opacity: 80%;
  border-color: transparent;
}
